<!HTML>
<head>
	<title>Yeah Chess</title>
	<link href="boardcss.css" rel="stylesheet">
	

</head>

<body>
<h1>Chess Board</h1>
<table id="flatChessboard" >
<tbody>
	<tr>
		<td class="boardAngle"></td>
		<th class="horizCoords">a</th>
		<th class="horizCoords">b</th>
		<th class="horizCoords">c</th>
		<th class="horizCoords">d</th>
		<th class="horizCoords">e</th>
		<th class="horizCoords">f</th>
		<th class="horizCoords">g</th>
		<th class="horizCoords">h</th>
		<td class="boardAngle"></td>
	</tr>
	<tr>
		<th class="vertCoords">8</th>
		<td class="whiteSquares" id="flatSq91"><span>♜</span></td>
		<td class="blackSquares" id="flatSq92" style=""><span>♞</span></td>
		<td class="whiteSquares" id="flatSq93"><span>♝</span></td>
		<td class="blackSquares" id="flatSq94"><span>♛</span></td>
		<td class="whiteSquares" id="flatSq95"><span>♚</span></td>
		<td class="blackSquares" id="flatSq96" style=""><span>♝</span></td>
		<td class="whiteSquares" id="flatSq97"><span>♞</span></td>
		<td class="blackSquares" id="flatSq98"><span>♜</span></td>
		<th class="vertCoords">8</th>
	</tr>
	<tr>
		<th class="vertCoords">7</th>
		<td class="blackSquares" id="flatSq81" style=""><span>♟</span></td>
		<td class="whiteSquares" id="flatSq82"><span>♟</span></td>
		<td class="blackSquares" id="flatSq83"><span>♟</span></td>
		<td class="whiteSquares" id="flatSq84"><span>♟</span></td>
		<td class="blackSquares" id="flatSq85" style=""><span>♟</span></td>
		<td class="whiteSquares" id="flatSq86"><span>♟</span></td>
		<td class="blackSquares" id="flatSq87"><span>♟</span></td>
		<td class="whiteSquares" id="flatSq88"><span>♟</span></td>
		<th class="vertCoords">7</th>
	</tr>
	<tr>
		<th class="vertCoords">6</th>
		<td class="whiteSquares" id="flatSq71" style=""></td>
		<td class="blackSquares" id="flatSq72"></td>
		<td class="whiteSquares" id="flatSq73" style=""></td>
		<td class="blackSquares" id="flatSq74"></td>
		<td class="whiteSquares" id="flatSq75"></td>
		<td class="blackSquares" id="flatSq76"></td>
		<td class="whiteSquares" id="flatSq77"></td>
		<td class="blackSquares" id="flatSq78"></td>
		<th class="vertCoords">6</th>
	</tr>
	<tr>
		<th class="vertCoords">5</th>
		<td class="blackSquares" id="flatSq61"></td>
		<td class="whiteSquares" id="flatSq62" style=""></td>
		<td class="blackSquares" id="flatSq63"></td>
		<td class="whiteSquares" id="flatSq64"></td>
		<td class="blackSquares" id="flatSq65" style=""></td>
		<td class="whiteSquares" id="flatSq66"></td>
		<td class="blackSquares" id="flatSq67"></td>
		<td class="whiteSquares" id="flatSq68"></td>
		<th class="vertCoords">5</th>
	</tr>
	<tr>
		<th class="vertCoords">4</th>
		<td class="whiteSquares" id="flatSq51"></td>
		<td class="blackSquares" id="flatSq52"></td>
		<td class="whiteSquares" id="flatSq53"></td>
		<td class="blackSquares" id="flatSq54"></td>
		<td class="whiteSquares" id="flatSq55" style=""></td>
		<td class="blackSquares" id="flatSq56"></td>
		<td class="whiteSquares" id="flatSq57"></td>
		<td class="blackSquares" id="flatSq58"></td>
		<th class="vertCoords">4</th>
	</tr>
	<tr>
		<th class="vertCoords">3</th>
		<td class="blackSquares" id="flatSq41"></td>
		<td class="whiteSquares" id="flatSq42"></td>
		<td class="blackSquares" id="flatSq43"></td>
		<td class="whiteSquares" id="flatSq44"></td>
		<td class="blackSquares" id="flatSq45"></td>
		<td class="whiteSquares" id="flatSq46" style=""></td>
		<td class="blackSquares" id="flatSq47"></td>
		<td class="whiteSquares" id="flatSq48"></td>
		<th class="vertCoords">3</th>
	</tr>
	<tr>
		<th class="vertCoords">2</th>
		<td class="whiteSquares" id="flatSq31"><span>♙</span></td>
		<td class="blackSquares" id="flatSq32"><span>♙</span></td>
		<td class="whiteSquares" id="flatSq33"><span>♙</span></td>
		<td class="blackSquares" id="flatSq34"><span>♙</span></td>
		<td class="whiteSquares" id="flatSq35" style=""><span>♙</span></td>
		<td class="blackSquares" id="flatSq36"><span>♙</span></td>
		<td class="whiteSquares" id="flatSq37"><span>♙</span></td>
		<td class="blackSquares" id="flatSq38"><span>♙</span></td>
		<th class="vertCoords">2</th>
	</tr>
	<tr>
		<th class="vertCoords">1</th>
		<td class="blackSquares" id="flatSq21"><span>♖</span></td>
		<td class="whiteSquares" id="flatSq22"><span>♘</span></td>
		<td class="blackSquares" id="flatSq23"><span>♗</span></td>
		<td class="whiteSquares" id="flatSq24"><span>♕</span></td>
		<td class="blackSquares" id="flatSq25"><span>♔</span></td>
		<td class="whiteSquares" id="flatSq26" style=""><span>♗</span></td>
		<td class="blackSquares" id="flatSq27" style=""><span>♘</span></td>
		<td class="whiteSquares" id="flatSq28"><span>♖</span></td>
		<th class="vertCoords">1</th>
	</tr>
	<tr>
		<td class="boardAngle"></td>
		<th class="horizCoords">a</th>
		<th class="horizCoords">b</th>
		<th class="horizCoords">c</th>
		<th class="horizCoords">d</th>
		<th class="horizCoords">e</th>
		<th class="horizCoords">f</th>
		<th class="horizCoords">g</th>
		<th class="horizCoords">h</th>
		<td class="boardAngle"></td>
	</tr>
</tbody>
</table>
</body>