td{
    width: 4vw;
    height: 4vw;
    border: .25vw solid black
    /*border: 3px solid blue;*/
}
.validMove{
    border: .25vw solid blue;
}
.black{
    background-color: gray;
}
.white{
    background-color: white;
}
.bKing{
    background-image: url("../images/bKing.png");
    background-size: 4vw 4vw;
}
.bQueen{
    background-image: url("../images/bQueen.png");
    background-size: 4vw 4vw;
}
.bRook{
    background-image: url("../images/bRook.png");
    background-size: 4vw 4vw;
}
.bBishop{
    background-image: url("../images/bBishop.png");
    background-size: 4vw 4vw;
}
.bKnight{
    background-image: url("../images/bKnight.png");
    background-size: 4vw 4vw;
}
.bPawn{
    background-image: url("../images/bPawn.png");
    background-size: 4vw 4vw;
}
.wKing{
    background-image: url("../images/wKing.png");
    background-size: 4vw 4vw;
}
.wQueen{
    background-image: url("../images/wQueen.png");
    background-size: 4vw 4vw;
}
.wRook{
    background-image: url("../images/wRook.png");
    background-size: 4vw 4vw;
}
.wBishop{
    background-image: url("../images/wBishop.png");
    background-size: 4vw 4vw;
}
.wKnight{
    background-image: url("../images/wKnight.png");
    background-size: 4vw 4vw;
}
.wPawn{
    background-image: url("../images/wPawn.png");
    background-size: 4vw 4vw;
}
button{
  font-size: 2vw;
}
body{
    background: rgb(255, 255, 255);
    font-size: 2vw;
    font-family: Consolas;
}
a{
    color:black;
    text-decoration:none;
}
.button{
    position: relative;
    padding: 3%;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: rgba(153, 0, 85, 0.76);
    border: none;
    border-radius: 1.5vw;
    box-shadow: 0 .65vw grey;
    font-size: 2vw;
    display: inline-block;
    width: 35%;
    margin: 3%;
}
.button:active {
    background-color: rgb(134, 0, 67);
    box-shadow: 0 .36vw #666;
    transform: translateY(.29vw);
}
footer{
    font-size: 1.5vw;
}
h2{
    font-size: 2.5vw;
}
